.git
.gitignore
.continue
.pytest_cache
.python-version
.venv
venv
__pycache__/
*.pyc
*.pyo
*.pyd
*.log
log/
node_modules/
frontend/node_modules/
frontend/dist/
dist/
tests/
.clj-kondo/
clj/
*.db-shm
*.db-wal
